.dropDownList label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.dropDownList select {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: solid 1px #F6F6F6;;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}
